@media only screen and (max-width: 1000px) {
  nav {
    flex-direction: column;
  }

  .logo {
    margin-top: 20px;
    justify-content: center;
  }
  .logo img{
    width: 20vw;
  }
  nav ul {
    font-size: 20px;
    font-weight: bolder;
    justify-content: center;
  }

  .search {
    
    justify-content: center;
  }
  .slider {
    height: 25vh;
  }
   .card {
      display: grid;
      grid-template-row: auto auto auto auto auto;
      grid-column-gap: 20px; 
      /* flex-wrap: wrap;*/
      margin: 10px auto;
      overflow: hidden;
    }
  .card-item img {
    width: 766px;
    height: 270px;
}
}


@media only screen and (max-width: 738px){
   

}
