@media only screen and (max-width: 1000px) {
  nav {
    flex-direction: column;
  }

  .logo {
    margin-top: 20px;
    justify-content: center;
  }
  nav ul {
    justify-content: center;
  }

  .search {
    justify-content: center;
  }
  .slider {
    height: 25vh;
  }
}


@media only screen and (max-width: 738px){
    .card {
      display: grid;
      grid-template-row: auto auto auto auto auto;
      grid-column-gap: 20px; 
      /* flex-wrap: wrap;*/
      margin: 10px auto;
      overflow: hidden;
    }

}
